
<!-- slidesOpts para manejar como se muestra cada opcion -->
<ion-slides [options]="slideOpts">

  <!-- Crea un slide por cada par de peliculas
      | pares es como llamar al pipe -->
  <ion-slide *ngFor="let pares of peliculas | pares">
    
    <ion-row>
      
      <!-- Desplegar individualmente cada par de pelicula
      | pares es como llamar al pipe -->
      <ion-col size="12" *ngFor="let pelicula of pares">

        <!-- colocar modo md para que no se alarguen las imagenes en ios -->
        <ion-card mode="md" (click)="verDetalle(pelicula.id)">

          <!-- Llamar el pipe para obtener imagen
          | imagen es como llamar al pipe -->
          <img class="poster"
                [src]="pelicula.poster_path | imagen">

        </ion-card>

      </ion-col>


    </ion-row>

  </ion-slide>

  <!-- Desplegar el boton de mas  -->
  <ion-slide class="slide-mas">
      <ion-button expand="full"
                  class="btn-mas"
                  size="large"
                  (click)="onClick()">

        <!-- Desplegar el icon -->
        <ion-icon name="add"
                  slot="icon-only"></ion-icon>

      </ion-button>
  </ion-slide>

</ion-slides>